<html>
    <title>Welcome to {{ greeting_msg }}</title>

    <body>
        <h3>Provisioned by {{ provisioner_tool }}</h3>
        <h3>Configurred by {{ conf_mgr_tool }}</h3>
        <h3>Hostname {{ ansible_hostname }}</h3>
        <h3>IP Address {{ ip_addr.stdout }}</h3>
    </body>
</html>
